.btnPublier {
    background-color: #092529;
    border-color: #092529;
    margin-top: 40%;
}

.btnPublier:hover {
    background-color: #007bff;
}

.row {
    margin: 0px;
    padding: 10px;
}

form {
    padding-bottom: 10px;
    background-color: #f7f7f7;
    border: 1px solid lightgray;
}

.alert {
    margin: 0px;
}