.btnSave {
    width: 100%;
}

.gender {
    display: inline-block;
}

.validate {
    text-align: center;
}

.validtext {
    margin-top: 15px;
    color: green;
}

.check {
    font-size: 200px;
    color: green;
}