.col-3 {
    text-align: center;
}

.col-9 {
    text-align: center;
}

.logoLogin {
    width: 60%;
}

.connexion {
    text-align: center;
    margin-top: 10%;
    border-right: 2px solid #092529;
}

.inscription {
    text-align: center;
}