.right {  
    height: 100vh;
    text-align: center;
    padding: 0px;
}

.suggestions {
    background-color: #f7f7f7;
    border: 1px solid lightgrey;
    border-top: 0px;
}

.titre {
    color: #092529;
}