.card {
    border: 1px solid lightgray;
}

.col-6 {
    padding-top : 10px;
}

.col-3 {
    height: 0vh;
}

.card-body {
    padding: 0px;
}

.card-header {
    padding-top: 2px;
    padding-bottom: 2px;
}
