<div class="suggestion">
    <div class="row">
      <!-- Gauche -->
      <div class="col-md-2 colonne">
        <a [routerLink]="['/profil']"><img src="../../assets/images/person.png" class="imgSugg"></a>
      </div>
      <!-- Droite -->
      <div class="col-md-7 colonne">
        <!-- Nom de l'utilisateur -->
        <p class="name">Username Username</p>
        <!-- Contenu de la publication -->
        <p class="sport">sport - poste - niveau</p>
      </div>
      <div class="col-md-3 colonne">
          <button class="btn btn-outline-success btnFollow">Suivre</button>
      </div>
    </div>
  </div>
  
